.total{
    margin-left: 50px;
    margin-top: 100px;
}
.nextbutton{
    margin-top: 60px;
    margin-left: -400px;
}
.finishbutton{
    margin-left: 50px;
    margin-top: 60px;
}
.options{
    margin-top: 20px;
}
@media (max-width: 768px) {
    .total {
        margin-left: 10px;
        margin-top: 30px;
    }
    
    .nextbutton {
        margin-left: -10px;
    }
    
    .finishbutton {
        margin-top: 58px;
    }
    
    .options {
        margin-top: 5px;
    }
}